#contacts {
    background-color: white;
    margin-top: 50px;
    padding-bottom: 50px;
    animation: fade-in 600ms 1100ms backwards;
}

#contacts h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.contacts-container {
    width: 75%;
    margin: auto;
    text-align: center;
}

.contact {
    width: 100px;
    display: inline-block;
    margin: 20px;
    transition: transform 500ms ease;
}

.contact img { 
    width: 75px;
    border-radius: 30px;
    box-shadow: 3px 2px 5px rgb(71, 71, 71);
}

.contact:hover {
    transform: scale(0.9);
}