::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(248, 248, 248);;
    
}

::-webkit-scrollbar-thumb {
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    user-select: none;
    background: whitesmoke;
}

section {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

h1 {
    font-size: 40px;
}

.container {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#about-me {
    text-align: center;
    padding-bottom: 100px;
}

#image {
    display: flex;
    width: 100%;
    justify-content: center;
}

#image img {
    border-radius: 50%;
    border: 1px solid rgb(146, 146, 146);
}

#about-me p {
    margin: 5px;
}

#languages {
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px rgba(165, 165, 165, 0.1) solid;
    background-color: rgba(214, 214, 214, 0.2);
}

.language {
    display: inline-block;
    padding: 0px;
    margin: 50px;
}

.hidden-lang {
    color: black;
    position: relative;
    transform: scale(0);
    transition: all 400ms ease;
}

.language img {
    width: auto;
    max-width: 175px;
    border-radius: 5%;
    transition: all 600ms ease;
}

.language:hover img{
    transform: scale(0.9);
    opacity: 0.6;
}

.language:hover .hidden-lang {
    transform: scale(1);
}

#projects {
    width: 80%;
    margin: auto;
}

.project {
    display: inline-block;
    margin: 3px;
    position: relative;
}

.brief-image {
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 15px;
    transition: all 400ms ease;
}

.brief-title, .brief-description, .learn-more {
    position: absolute;
    transform: scale(0);
    transition: transform 500ms ease;
    text-align: left;
    padding: 0px 20px;
}

.brief-title {
    font-size: 36px;
    top: -10px;
}

.brief-description {
    font-size: 18px;
    top: 50px;
}

.learn-more {
    font-size: 18px;
    bottom: 10px;
    margin: 20px;
    padding: 5px;
    color: white;
    background-color: rgb(228, 76, 76);
    border-radius: 10px;
}

.project:hover .brief-title, .project:hover .brief-description, .project:hover .learn-more {
    transform: scale(1);
}

.project:hover .brief-image {
    transform: scale(0.98);
    opacity: 0.5;
}

.expand {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 20px;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
}

.expand img {
    margin: 10px;
    max-width: 150px;
}

.close {
    position: absolute;
    right: 0%;
    padding: 0px 10px;
    font-size: 24px;
}

.tech-used {
    display: inline-block;
    padding: 0px;
    margin: 10px 25px;
}

.tech-hidden {
    color: black;
    position: relative;
    transform: scale(0);
    transition: all 400ms ease;
}

.tech-used img {
    width: auto;
    max-width: 75px;
    border-radius: 5%;
    transition: all 600ms ease;
}

.tech-used:hover img{
    transform: scale(0.9);
    opacity: 0.6;
}

.tech-used:hover .tech-hidden {
    transform: scale(1);
}

.project-one, .project-two {
    transition: all 1000ms ease;
}

.project-one.active {
    visibility: visible;
    background-color: aqua;
    opacity: 1;
}

.project-two.active {
    visibility: visible;
    background-color: aqua;
}

.name {
    font-size: 25px;
    padding-bottom: 5px;
}

.project:hover .hidden {
    height: auto;
    visibility: visible;
    opacity: 1;
}

.project:hover .image {
    filter: blur(1px);
}

.tech-desc {
    padding-top: 50px;
    font-size: 25px;
}

.tech {
    display: inline-block;
    font-size: 16px;
    margin: 20px;
}

.tech img {
    width: auto;
    max-width: 50px;
    border-radius: 5%;
}

.hidden {
    visibility: hidden;
    height: 0px;
    transition: opacity 1000ms ease;
    opacity: 0;
}

.arrow {
    color: red;
    font-weight: bold;
    font-size:100px;
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 0;
}


#contacts {
    border: 1px rgba(165, 165, 165, 0.1) solid;
    background-color: rgba(214, 214, 214, 0.2);
}

.social {
    display: inline-block;
    margin: 20px;
}

.social img {
    width: auto;
    max-width: 65px;
    border-radius: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
} 

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: rotateY(0%);
    }
} 