nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.navbar-list {
    margin: 0px auto;
    display: flex;
    padding: 0px;
    list-style: none;
}

.navbar-item {
    position: relative;
    padding: 5px 12px;
    margin: 10px;
    transition: transform 200ms ease;
}

.navbar-item a {
    color: black;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.navbar-item:hover {
    transform: scale(0.95);
}

.navbar-item:hover a {
    color: rgb(53, 53, 53);
}

.navbar-item:hover a:after {
    background-color: rgb(53, 53, 53);
}

.navbar-item a:after {
    content: "";
    position: absolute;
    background: black;
    border-radius: 30px;
    height: 2px;
    width: 0%;
    right: 0px;
    bottom: 2px;
    transition: all 400ms ease;
}

.navbar-item:hover a:after {
    width: 100%;
    left: 0px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 26px;
    right: 26px;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburger-bar {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 20px;
}

@media (max-width: 550px) {
    .navbar-list {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 60px;
    }

    .hamburger {
        display: flex;
    }

    .navbar-item {
        text-align: center;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        margin: 0px;
        padding: 4px;
    }

    .navbar-item a:after {
        content: none !important;
    }

    .navbar-list.active {
        display: flex;
    }
}