#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

#navbar #links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

#navbar #links li {
    list-style: none;
    margin: 10px;
}

#navbar #links li a {
    color: black;
    font-size: 20px;
    padding:10px;
    text-decoration: underline rgba(0, 0, 0, 0) 2px;
    text-underline-offset: 3px;
    transition: text-decoration-color 300ms;
}

#navbar #links li a:hover {
    background-color: rgba(172, 172, 172, 0.3);
    border-radius: 10px;
    text-decoration-color: black;
    text-underline-offset: 4px;
}