nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links {
    margin: auto;
}

#links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

#links li {
    list-style: none;
    margin: 10px;
}

.link {
    position: relative;
    color: black;
    font-size: 24px;
    padding: 5px 10px;
    text-decoration: none;
    letter-spacing: 0.5px;
}
 
.link:hover{
    color: rgb(99, 99, 99);
}

.link:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0%;
    right: 0px;
    bottom: 0px;
    transition: all 300ms ease;
}

.link:hover:after {
    width: 100%;
    left: 0;
}

#hamburger {
    position: absolute;
    top: 23px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburger-bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10%;
}

@media (max-width: 600px) {
    #hamburger {
        display: flex;
    }
    #links {
        margin-top: 50px;
        display: none;
        width: 100%;
    }

    #links.active {
        display: flex;
    }

    #links ul {
        flex-direction: column;
        width: 100%;
    }

    #links li {
        text-align: center;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        margin: 0px;
        padding: 4px;
    }

    #links li:hover {
        background-color: rgb(196, 196, 196);
    }

    .link {
        padding-right: 100px;
        padding-left: 100px;
    }

    .link::after {
        content: none !important;
    }
}