#projects {
    width: 80%;
    margin: auto;
    position: relative;
    animation: fade-in 600ms 900ms backwards;
}

#projects h1 {
    font-size: 40px;
    padding-top: 40px;
    text-align: center;
}

.projects-centre {
    text-align: center;
    position: relative;
}

.project {
    display: inline-block;
    margin: 10px;
    position: relative;
}

.brief-image {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    transition: all 400ms ease;
    box-shadow: 2px 2px 10px black;
}

.brief-title, .brief-description, .learn-more {
    position: absolute;
    transform: scale(0);
    transition: transform 500ms ease;
    text-align: left;
    padding: 0px 20px;
}

.brief-title {
    font-size: 36px;
    top: -20px;
}

.brief-description {
    font-size: 18px;
    top: 45px;
}

.learn-more {
    font-size: 18px;
    top: 160px;
    left: 0px;
    padding: 5px 5px;
    margin-left: 20px;
    color: white;
    background-color: rgb(228, 76, 76);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    user-select: none;
}

.project:hover .brief-title, .project:hover .brief-description, .project:hover .learn-more {
    transform: scale(1);
}

.project:hover .brief-image {
    transform: scale(0.98);
    opacity: 0.4;
}


.pop-up {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    background-color: rgba(224, 224, 224, 0.98);
    text-align: center;
    border-radius: 20px;
    animation: slide-in 1000ms;
}

.pop-up-exit {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 8px;
    font-size: 24px;
    background-color: rgba(88, 88, 88, 0);
    border-radius: 0px 0px 0px 25px;
    border: none;
    user-select: none;
}

.pop-up-exit:hover {
    color: rgb(233, 89, 89);
}

.pop-up-title {
    font-size: 32px;
    padding: 0px;
    margin: 30px 0px 15px 0px;
}

.pop-up-image {
    width: 70%;
    max-width: 500px;
    border-radius: 15px;
}

.pop-up-desc {
    font-size: 18px;
    padding: 0px 15px;
}

.pop-up-tech-title {
    font-size: 24px;
    padding: 0px;
    margin: 40px 0px 0px 0px;
}

.project-tech {
    display: inline-block;
    padding: 0px;
    margin: 25px 30px;
}

.project-tech img {
    max-width: 100px;
    margin: 0px 0px 0px 0px;
    border-radius: 5%;
    transition: all 600ms ease;
}

.project-tech p {
    font-size: 16px;
    margin: 0px;
    transform: scale(0);
    transition: all 400ms ease;
}

.project-tech:hover p {
    transform: scale(1);
}

.project-tech img:hover {
    transform: scale(0.9);
    opacity: 0.7;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-50%);
    }
}