#projects {
    width: 80%;
    margin: auto;
}

.project {
    display: inline-block;
    margin: 3px;
    position: relative;
}

.brief-image {
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 15px;
    transition: all 400ms ease;
}

.brief-title, .brief-description, .learn-more {
    position: absolute;
    transform: scale(0);
    transition: transform 500ms ease;
    text-align: left;
    padding: 0px 20px;
}

.brief-title {
    font-size: 36px;
    top: -10px;
}

.brief-description {
    font-size: 18px;
    top: 50px;
}

.project:hover .brief-title, .project:hover .brief-description, .project:hover .learn-more {
    transform: scale(1);
}

.project:hover .brief-image {
    transform: scale(0.98);
    opacity: 0.5;
}

.learn-more {
    font-size: 18px;
    bottom: 10px;
    margin: 20px;
    padding: 5px;
    color: white;
    background-color: rgb(228, 76, 76);
    border-radius: 10px;
}

.project-one, .project-two {
    transition: all 1000ms ease;
}

.project-one.active {
    visibility: visible;
    background-color: rgba(212, 212, 212, 0.99);
    opacity: 1;
}

.project-two.active {
    visibility: visible;
    background-color: rgba(212, 212, 212, 0.99);
    opacity: 1;
}

.expand {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 20px;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
}

.expand img {
    margin: 10px;
    width: 350px;
}

.close {
    position: absolute;
    right: 0%;
    padding: 0px 10px;
    font-size: 24px;
    transition: all 500ms ease;
}

.close:hover {
    transform: scale(1.25);
    color: rgb(255, 45, 45);
}


.description {
    max-width: 85%;
    margin: auto;
}

.tech-desc {
    font-size: 24px;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;
}

.tech-used {
    display: inline-block;
    padding: 0px;
    margin: 5px 20px;
}

.tech-used img {
    width: auto;
    max-width: 75px;
    border-radius: 10px;
    transition: all 600ms ease;
}

.tech-hidden {
    color: black;
    position: relative;
    transform: scale(0);
    transition: all 400ms ease;
    bottom: 15px;
}

.tech-used:hover img{
    transform: scale(0.9);
    opacity: 0.6;
}

.tech-used:hover .tech-hidden {
    transform: scale(1);
}